.wp-block-post-script__button {
	color: #ffffff;
	background-color: #1f8ceb;
	border: none;
	box-shadow: none;
	cursor: pointer;
	display: inline-block;
	font-size: 18px;
	margin: 0;
	padding: 12px 24px;
	text-align: center;
	text-decoration: none;
	overflow-wrap: break-word;
}

.wp-block-post-script__button:hover,
.wp-block-post-script__button:focus,
.wp-block-post-script__button:active,
.wp-block-post-script__button:visited {
	color: inherit;
}
