.wp-block-post-script {
	margin: 0;
}

.wp-block-post-script__button {
	position: fixed!important;
	right: 20px;
	bottom: 20px;
	z-index: 999;
}

.wp-block-post-script__button:focus {
	outline: 0;
}

.wp-block-post-script__button:not(.has-background) {
	background-color: #007cba;
}

.wp-block-post-script__button:not(.has-text-color) {
	color: white;
}

.wp-block-post-script__content {
	display: none;
}

.is-active .wp-block-post-script__content {
	display: block;
	position: fixed;
	right: 20px;
	bottom: 100px;
	width: 370px;
	min-height: 250px;
	max-height: 500px;
	height: calc(100% - 120px);
	padding: 1em;
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);
	z-index: 999;
	overflow-y: scroll;
}
